* { 
    margin: ;
    padding: ;
    }
    
    h2 {
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    
    h2 h3 {
        font-weight: bold;
    }
    
    .image {
        display: flex;
        justify-content: center;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'lname fname'
        'address'
        'poscode' 'city'
        'email' 'mobnum';
        grid-gap: ;
        background-color: #FFC8C3;
        padding: 20px;
    }
    
    .container input{
        width: 400px;
    }
    
    
    .fname { grid-area: fname;}
    .address { grid-area: address;}
    .poscode { grid-area: poscode;}
    .city { grid-area: city;}
    .email { grid-area: email;}
    .mobnum { grid-area: mobnum;
    
    .container h3 {
        text-align: left;
    }
    
    p { 
        border: 100px;
    
    }
    
    .btn {
        width: 60px;
        height: 40px;
    }
     
    .fastaction {
        display: inline-block;
    }
    
    .volunteerhere {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    /* Nav and Search Bar */
    .nav1{
    
        background: ;
        min-height: 100vh;
        overflow-x: hidden;
        font-family: 'Quicksand', sans-serif;
    }
    
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #fff;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 15px 15px rgba(0,0,0,0.05);
    }
    .logo {
        color: #333;;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        width: 100px;
      }
      .group{
        display: flex;
        align-items: center;
      }
      header ul {
        position: relative;
        display: flex;
        gap: 30px;
      }
      header ul li {
        list-style: none;
      }
      header ul li a {
        position: relative;
        text-decoration: none;
        font-size: 1em;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      header ul li a::before {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #72bcd2;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: right;
      }
      header ul li a:hover::before
      {
        transform: scaleX(1);
        transform-origin: left;
      }
      header .search {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        z-index: 10;
        cursor: pointer;
      }
      .searchBox {
        position: absolute;
      right: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        background: #fff;
        align-items: center;
        padding: 0 30px;
        transition: 0.5s ease-in-out;
      }
      .searchBox.active{
        right: 0;
      }
      .searchBtn{
        position: relative;
        left: 30px;
        top: 2.5px;
        transition: 0.5s ease-in-out;
      }
      .searchBtn.active{
        left: 0;
        
      }
      .closeBtn{
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        scale: 0;
      }
      .closeBtn.active {
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        scale: 1;
      }
      .menuToggle {
        position: relative;
        display: none;
      }
      /* make it responsive */
      @media (max-width: 800px)
      { 
        .searchBtn {
          left: 0;
      
        }
        .menuToggle {
          position: absolute;
          display: block;
          font-size: 2em;
          cursor: pointer;
          transform: translateX(30px);
          z-index: 10;
        }
        header .navbar {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      left: 100%;
        }
    
        header.open .navbar {
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 40px;
    border-top: 1px solid rgba(0,0,0,0.05);
        
    }
    
    header.open .navbar li a {
    font-size: 1.25em;
    }
    
    .hide {
    display: none;
    }
    
    }
    .searchBox input {
        width: 100%;
        border: none;
        outline: none;
        height: 50px;
        color: #333;
        font-size: 1.25em;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    
    }
      /* end of nav bar and search bar */